.header {
    background-color: #127a88;
    background-clip: padding-box;
    border-width: 1px 1px 0 6px;
    margin-bottom: 8px;
    min-height: 28px;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.header_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.header_title {
    font-size: 30pt;
    font-weight: 700;
    letter-spacing: -0.8px;
    line-height: 1.1;
    margin: 0;
    color: #fff;
    width: 100%;
    left: 340px;
}

.header_title_box {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #127a88;
}

.header_logo_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo {
    width: 140px;
    height: auto;
    filter: drop-shadow(-5px 5px 5px black);
    transition: transform 0.5s ease;
}

.header_logo:hover{
    transform: rotate(90deg)
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 8px;
    margin: 0;
}

nav ul li {
    margin: 0 4%;
}

nav ul li a {
    text-decoration: none;
    color: #1b4332;
    text-align: center;
    padding: 5px 10px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    border-radius: 4px;
}

nav ul li a:hover {
    color: #fff;
    background-color: #508e74;
}
